.image {
    border: 2px solid black;
    opacity: 75%;
    position: relative;
    width: 100%;
    height: 78.6%;
}

.image-content {
    position: absolute;
    top: 5px;
}

.icon {
    width: 30px;
    height: 30px;
    border: 1px solid magenta;
    border-radius: 15px;
}
